[Desktop Entry]
Type=Application
Terminal=false
Exec=/opt/pycharm-community-2018.2.3/bin/pycharm.sh
Name=PyCharm
Icon=/opt/pycharm-community-2018.2.3/bin/pycharm.png
